*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
canvas{
    background: #00ff00;
    display: block;
    margin: 0 auto;
}
h1{
    color: #2c5364;
    text-align: center;
    font-family: monospace, sans-serif;
    margin: 50px;
}